*.espressostorage
*.esproj
*.pxm
.DS_Store
.htaccess
config.php
verify.php
posts/*.md
posts/*.jpg
templates/clear/
templates/typographic/
templates/cards/
templates/posted/

plugins/switcher.php

cache/*.png
cache/*.jpeg

# Jekyll files
Gemfile.lock
_site/

# WebStorm files
.idea/
